Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [3]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)
rectangle (2,4)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [6]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)
calcualte_numbers(3)

823

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [7]:
def number_of_factors(num):
    count = 0
    for i in range(1, num + 1):
        if num % i == 0:
            count += 1
    return count

print(number_of_factors(12))
print(number_of_factors(6))

6
4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [15]:
def first_diff(s1, s2):
    s1 = s1.lower()
    s2 = s2.lower()
    min_len = min(len(s1), len(s2))
    for i in range(min_len):
        if s1[i] != s2[i]:
            return i
    if len(s1) != len(s2):
        return min_len

    return -1


print(first_diff("Morning", "morning"))
print(first_diff("Apple", "apricot"))
print(first_diff("Cold", "colder"))

-1
2
4

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [20]:
def root(x, n=2):
    return x** (1/n)


print(root(49))

7.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [23]:
def solve_system(a, b, c, d, e, f):
    # Calculate the determinant
    determinant = a * d - b * c

    if determinant == 0:
        return "No unique solution"

    # Use Cramer's Rule to solve for x and y
    x = (e * d - b * f) / determinant
    y = (a * f - e * c) / determinant

    return x, y

# Example usage:
print(solve_system(1, 2, 3, 4, 5, 6))  # No unique solution (parallel lines)
print(solve_system(2, 1, 1, -1, 3, 0)) # Should return x=1.0, y=1.0

(-4.0, 4.5)
(1.0, 1.0)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [25]:
def change_case(s):
    return ''.join(map(lambda c: c.lower() if c.isupper() else c.upper(), s))


print(change_case("Hello WORLD"))
print(change_case("Good Morning!"))

hELLO world
gOOD mORNING!

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [27]:
def primes(n=100):
    primes_list = []
    num = 2

    while len(primes_list) < n:
        is_prime = True
        for p in primes_list:
            if p * p > num:
                break
            if num % p == 0:
                is_prime = False
                break
        if is_prime:
            primes_list.append(num)
        num += 1

    return primes_list


print(primes(10))
print(primes(5))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
[2, 3, 5, 7, 11]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”