Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [2]:
from datetime import datetime
calculate_age = lambda year: datetime.now().year - year
print(calculate_age(2000))

25

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [3]:
add_ten_percent = lambda cost: cost * 1.10

print(add_ten_percent(100.0))

110.00000000000001

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [5]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']
domain = 'gmail.com'
emails = [name.lower() + '@' + domain for name in names]
for email in emails:
    print(email)

richard@gmail.com
karam@gmail.com
karpo@gmail.com
sonam@gmail.com
ugyen@gmail.com

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [6]:
create_email = lambda name, domain: name.lower() + '@' + domain

print(create_email('Charlie', 'gmail.com'))

charlie@gmail.com

Q5) old_list = [2, 4, 6, 7, 9]

write a for loop to square each element of the given old_list.

In [7]:
old_list = [2, 4, 6, 7, 9]
squared_list = []
for num in old_list:
    squared = num ** 2
    squared_list.append(squared)
print(squared_list)

[4, 16, 36, 49, 81]