In [4]:
import sys
sys.version

'3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]'

In [5]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82

print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 5000
5000 usd is equivalent to 4100.0 british pound

In [6]:
temp_F = float(input("Enter temperatre in F: "))
temp_C = (int(temp_F)-32)*5/9
print("{} Feranhite is equal to {:.2f} Celsius".format(temp_F, temp_C))

Enter temperatre in F: 60
60.0 Feranhite is equal to 15.56 Celsius

In [8]:
print("\tWelcome to Farm Fresh!!!\n")
print("\tWhat would you like to buy today?\n")
print("\tWe have multiple options for fresh fruits.\n")
fruit_options = {"apple","banana","orange","grape","mango"}
print("Here are the fruits we have: ", fruit_options)

apple_qty = input("Enter number of apples : ")
apple_price = input ("Price per apple: ")

orange_qty = input("Enter number of oranges : ")
orange_price = input ("Price per orange: ")

mango_qty = input("Enter number of mangoes : ")
mango_price = input ("Price per mango: ")

total_cost = int(apple_qty)*int(apple_price) + int(orange_qty)*int(orange_price) + int(mango_qty)*int(mango_price)
print("Total cost is : ", total_cost)

print("\tThank you for buying with us.Have a great day!")

	Welcome to Farm Fresh!!!

	What would you like to buy today?

	We have multiple options for fresh fruits.

Here are the fruits we have:  {'apple', 'mango', 'banana', 'grape', 'orange'}
Enter number of apples : 3
Price per apple: 200
Enter number of oranges : 4
Price per orange: 500
Enter number of mangoes : 5
Price per mango: 600
Total cost is :  5600
	Thank you for buying with us.Have a great day!

In [9]:
print("<3<3<3<3<3<3<3<3<3")
g=str("Welcome to Learn with Dr Myo Thida Python Course!")

name = str(input ("Enter your name: "))
print("Hello " + name, g )

<3<3<3<3<3<3<3<3<3
Enter your name: Hnin Cherry Win
Hello Hnin Cherry Win Welcome to Learn with Dr Myo Thida Python Course!

In [10]:
from random import randint
x = randint(1,50)
print("A random number between 1 and 50: ", x)
from random import randint
y = randint(2,5)
print('A random number between 2 and 5: ', y)
print(x*y)

A random number between 1 and 50:  44
A random number between 2 and 5:  4
176

In [11]:
from random import randint
a = randint(1,10)
print("A random number between 1 and 10: ", a)
string = "\n Hi I'm Hnin Cherry Win. Nice to meet you.\n"
print(string * 3)

A random number between 1 and 10:  10

 Hi I'm Hnin Cherry Win. Nice to meet you.

 Hi I'm Hnin Cherry Win. Nice to meet you.

 Hi I'm Hnin Cherry Win. Nice to meet you.

In [12]:
x = float(input("Enter number for x: "))
y = float(input("Enter number for y: "))
output_result = (x-y)/(x+y)
print("The output result is ",output_result)

Enter number for x: 15
Enter number for y: 4
The output result is  0.5789473684210527

In [13]:
print("Hi! User Welcome to Time Converter")
total_seconds = int(input("Enter the number of seconds: "))
minutes = total_seconds // 60
seconds = total_seconds % 60
print(f"{total_seconds} seconds is {minutes} minutes and {seconds} seconds.")

Hi! User Welcome to Time Converter
Enter the number of seconds: 6000
6000 seconds is 100 minutes and 0 seconds.

In [14]:
import math
num = float(input("Enter a number:"))
sine = math.sin(num)
cosine = math.cos(num)
print(f"Sine of {num}: {sine}")
print(f"Cosine of {num}: {cosine}")

Enter a number:56
Sine of 56.0: -0.5215510020869119
Cosine of 56.0: 0.8532201077225842